.App {
  text-align: center;
}

.List {
  border: 1px solid #d9dddd;
}

.ListItemEven, .ListItemOdd {
  display: flex;
  align-items: left;
  justify-content: left;
}

.ListItemEven {
  background-color: #f8f8f0;
}

#jsoneditor {
      min-height: 60em !important;
    }


.ace_editor {
      min-height: 60em !important;
}
.jsoneditor-poweredBy {
  display: none !important;
}
